{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>OpenlibraryKey</th>
                <th>BirthDay</th>
                <th>BirthMonth</th>
                <th>BirthYear</th>
                <th>DeathDay</th>
                <th>DeathMonth</th>
                <th>DeathYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.openlibraryKey }}</td>
                <td>{{ author.birthDay }}</td>
                <td>{{ author.birthMonth }}</td>
                <td>{{ author.birthYear }}</td>
                <td>{{ author.deathDay }}</td>
                <td>{{ author.deathMonth }}</td>
                <td>{{ author.deathYear }}</td>
                <td>
                    <a href="{{ path('app_author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_author_new') }}">Create new</a>
{% endblock %}
