{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>OpenlibraryKey</th>
                <td>{{ author.openlibraryKey }}</td>
            </tr>
            <tr>
                <th>BirthDay</th>
                <td>{{ author.birthDay }}</td>
            </tr>
            <tr>
                <th>BirthMonth</th>
                <td>{{ author.birthMonth }}</td>
            </tr>
            <tr>
                <th>BirthYear</th>
                <td>{{ author.birthYear }}</td>
            </tr>
            <tr>
                <th>DeathDay</th>
                <td>{{ author.deathDay }}</td>
            </tr>
            <tr>
                <th>DeathMonth</th>
                <td>{{ author.deathMonth }}</td>
            </tr>
            <tr>
                <th>DeathYear</th>
                <td>{{ author.deathYear }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_author_index') }}">back to list</a>

    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
